#leftside #leftside
{
    position:relative;
    transition: all .35s ease;
}

#productImage
{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

#leftside #leftside :hover
{
    transform: scale(1.07);
    cursor: pointer;
    transition: all .50s ease;

}

#rightside
{
    padding: 30px;
    margin-left: 5% !important;    
}

.product-detail-body
{
    margin-bottom:0px;
    padding: 10px 10px 10px 10px;
    background: #FFFBF5;
    background-size: cover;
    width: 100%;
    height: 100vh;
    width: 100%;
}
#productInfo
{
    margin-top:130px;
}
.button-product-detail
{
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    /* margin-left:800px; */
    margin-top: 40px;
    margin-left: 100px;
    background: var(--title-color);
    color: var(--container-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: all .35s ease;

}

.button-product-detail:hover
{
    background: var(--container-color);
    color: var(--title-color);
}



.pd-h3
{
    padding-top: 10px;
    font-style: italic;
    margin-bottom: 60px;
}

.pd-cost
{
    color: white;
}

.pd-h4 span
{
    font-size: 1.2rem;
    color: var(--title-color);
    padding-right:2px;
}

.pd-h4
{
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
    color: var(--title-color);

}
