.productList-body
{
    margin-top: 70px;

}

.category-name
{
    font-size: 1.5 rem;  
}

.box h5
{
    font-size: 1.15rem;
    margin-bottom: 2px;
}

.box h6
{
    margin-top: 0px;
}

.white-chocolate
{
    background-color: #E6E0D4;
    background-size: cover;
    transition: all .35 ease;
}

.milk-chocolate
{
    background-color: #E6E0D4;
    background-size: cover;
    transition: all .35 ease;
}